PORT=5000
DEV_MODE=development
MONGO_URI=mongodb://localhost:27017/task-scheduler

RABBITMQ_URL=amqp://localhost
RABBITMQ_TASK_QUEUE=tasks
RABBITMQ_DEAD_LETTER_EXCHANGE=tasks.dlx

# Worker demo settings
TASK_PROCESSING_TIME_MS=1000
TASK_FAILURE_RATE=0.3
TASK_MAX_RETRIES=3
TASK_RETRY_DELAY_MS=5200
